{% extends 'bases/base.html' %}

{% block content %}
	<p><a class='btn btn-primary btn-lg' href="{% url 'contactos:person_new' %}">Agregar Contacto</a></p>
	<div class="container">
		<table class="table table-hover table-striped">
			<th>#</th>
			<th>Nombre</th>
			<th>Número</th>
			<th>Email</th>
			<th>Acciones</th>
		{% for contacto in contactos %}
			<tr>
				<td>{{ contacto.pk }}</td>
				<td>{{ contacto.name }} {{ contacto.last_name }}</td>
				<td>{{ contacto.number }}</td>
				<td><a href="mailto:{{ contacto.email }}">{{ contacto.email }}</a></td>
				<td>
					<a href="{% url 'contactos:person_edit' contacto.pk %}" class="btn btn-sm btn-primary">EDITAR</a>
					<a href="{% url 'contactos:person_delete' contacto.pk %}" class="btn btn-sm btn-danger">BORRAR</a>
				</td>
			</tr>
		{% endfor %}
		</table>
	</div>
{% endblock %}