{% extends 'bases/base.html' %}

{% block content %}
	<p><a class='btn btn-primary btn-lg' href="{% url 'notas:note_new' %}">Agregar nota</a></p>
	<div class="container">
		<div class="row notas">
		{% for nota in notas %}
			<div class="col-md-3 {{ nota.color }}">
				<h2>{{ nota.title }}</h2>
				<div class="text-justify">{{ nota.content }}</div>
				<p class="text-right">
					<a href="{% url 'notas:note_edit' nota.pk %}" class="btn btn-xs btn-primary">EDITAR</a>
					<a href="{% url 'notas:note_delete' nota.pk %}" class="btn btn-xs btn-danger">BORRAR</a>
				</p>
			</div>
		{% endfor %}
		</div>
	</div>
{% endblock %}